{% extends "layout.html" %}

{% block content %}
<div class="home-container">
    <div class="home-text">
        <h2>Build recommendation system with ease!!</h2>
        <p>
            In this age of information overload, people use a variety of strategies to make choices about what to buy, how to spend their leisure time, and even where to go. Recommender systems automate some of these strategies with the goal of providing affordable, The aim is to create a content-based recommender system in which when we will write a restaurant name, the Recommender system will look at the reviews of other restaurants, and the System will recommend us other restaurants with similar reviews and sort them from the highest-rated.
        </p>
        
        <div class="test-system">
            <span>Test the system</span>
            <a href="/extractor" class="btn">Recommend</a>
        </div>
    </div>
    
    <div class="home-image">
        <img src="{{ url_for('static', filename='images/food_plate.png') }}" alt="Food Plate">
    </div>
</div>
{% endblock %}
